.user {
  background-color: rgba(52, 53, 65);
  color: #e5e5e5;
}

.assistant {
  background-color: rgba(68, 70, 84);

  color: #e5e5e5;
}

.system {
  background-color: rgb(46, 46, 52);
  color: #e5e5e5;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
